<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        @media (max-width: 600px) {
            .login-container {
                width: 90%;
                margin: 20px auto;
            }
        }
    </style>
</head>
<body>
  <div class="main">
    <div class="login-container">
        <h2>BULKEMAIL SYSTEM</h2>
        {% if error %}
        <p style="color: red; text-align: center;">{{ error }}</p>
        {% endif %}
        <form action="/" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required autocomplete="off">
            </div>
            <button type="submit">Login</button> 
        </form>
        <div class="create-account">
            <p>Don't have an account? <a href="/registration">Create account</a></p>
        </div>
        <p align="center">
            <a href="/google">
                <img id="google"
                src="https://img.shields.io/badge/Google-Connect-brightgreen?style-for-the-badge&labelColor=black&logo=google"
                alt="Google"> <br>
            </a>
        </p>
    </div>
  </div>
</body>
</html>
